.container {
  margin: 0 16px;
  width: 100%;
}

@media (min-width: 36em) {
  .container {
    margin: auto;
    width: 26em;
  }
}

@media (min-width: 48em) {
  .container {
    margin: auto;
    width: 38em;
  }
}
