.container {
  margin: 0 16px;
  /* width: 100%; */
}

@media (min-width: 720px) {
  .container {
    margin: auto;
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: auto;
    width: 1080px;
  }
}
